.containerToolTipUserActivity {
    background-color: #E60000;
    color:#FFFFFF;
    padding: 4px;
    font-size: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}