.containerEntireProfile {
    display:flex;
    flex-direction: row;
    /*background-color:yellow;*/
}

.containerDashBoard {
    /*background-color: blue;*/
    width:calc(100% - 90px); /*the width of this element corresponds to a substraction. So 100% is the width of it parent 
    element minus 90px which corresponds to the width of the vertical navigation*/
}

.containerHelloText {
    /*background-color: green;*/
    margin-top:40px;
    margin-left: 8%;
}

.titleHelloText{
    font-size: 35px;
}

.congratulationsText {
    /*background-color: yellow;*/
    margin-top:-5px;
    font-size: 14px;
}

.HelloTextFirstName{
    color:#FF0101;
}

.containerGraphsScoreKeyData{
    /*background-color: violet;*/
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
}

.containerKeyData{
    /*background-color: red;*/
    width:150px;
    margin-bottom: 43px;   
}

.containerGraphsScore {
    /*background-color: greenyellow;*/
    width:80%;
}

.containerAllKeyData {
    /*background-color: blueviolet;*/
    width:20%;  
}

.containerBarChartActivity {
    /*background-color: green;*/
    margin-left: 12%;
    margin-bottom:25px;
}

.containerAverageSessions {
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}