.pageHomeHeader {
    background-color: #020203;
    padding-top:15px;
    padding-bottom:15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:55px;
}

.containerOfLogoSportSee {
    height: 55px;
    margin-left: 12px;
}

.pictureLogoSportSee {
    height: 100%;
}
